.wpgcb-carousel {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.wpgcb-carousel-heading {
  text-align: center;
  font-family: 'Roboto Condensed';
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
}

.product-brand {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 10px;
  
}

.product-title {
  text-align: center;
  font-family: 'Roboto Condensed';
  font-size: 16px;
  font-weight: 400;
}

.swiper-button-prev,
.swiper-button-next {
  color: #fff;
}
